#tabslinks
  = link_to 'Description', '#tab1'
  = link_to 'Location', '#tab2'
  = link_to 'Detailed information', '#tab3'
  = link_to 'Media', '#tab4'
= simple_form_for @offer do |f|
  #tab1.tab
    = f.error_messages
    = f.input :title, required: true
    = f.input :summary
    = f.input :description
    = f.input :kind, collection: Offer::KINDS, include_blank: false
    = f.input :property_type, collection: Offer::PROPERTY_TYPES, include_blank: false
    = f.input :price, label: "Price (in EUR)"
  #tab2.tab.hidden
    = f.input :country
    = f.input :region
    = f.input :city
    = f.input :street
  #tab3.tab.hidden
    = f.input :rooms
    = f.input :bathrooms
    = f.input :internet
    = f.input :furnished
    = f.input :dishwasher
    = f.input :washing_machine
    = f.input :tv
    = f.input :cable_tv
    = f.input :microwave
    = f.input :balcony
    = f.input :terrace
    = f.input :tennis_court
    = f.input :gym
    = f.input :swimming_pool
    = f.input :heating
    = f.input :storage_room
    = f.input :garage
  #tab4.tab.hidden
    = f.simple_fields_for :photos do |fp|
      .input= image_tag fp.object.image.thumb.url
      = fp.input :image, as: :file
      = fp.input :remove_image, as: :boolean
      = fp.input :image_cache, as: :hidden
  %p Fields marked with * are obligatory
  = f.button :submit

- content_for :footer do
  = javascript_include_tag "offers"
