.span16.offer{:id => offer.object_id}
  -#%p.pull-left= image_tag offer.photos.first.image.search unless offer.photos.empty?
  %h3= link_to offer.title, offer_path(offer)
  %p= offer.gmaps4rails_address
  %p= offer.summary


  - if current_user && (offer.owned_by?(current_user) || current_user.admin?)
    %p
      - if offer.draft?
        = link_to 'publish', publish_user_offer_path(current_user, offer), method: :put
      - elsif offer.published?
        = link_to 'hide', hide_user_offer_path(current_user, offer), method: :put
      - else
        Offer expired
      = link_to 'edit', edit_user_offer_path(current_user, offer)
      = link_to 'delete', user_offer_path(current_user, offer), method: :delete, confirm: "Are you sure?"
