- (offer = OfferPresenter.new(offer, self, current_user))
.offer{:id => "offer_#{offer.id}"}
  %p.pull-left= image_tag offer.photos.first.image.search.url unless offer.photos.empty?
  %h3.title= link_to offer.title, offer_path(offer.offer)
  = offer.add_favorite_link
  = offer.delete_favorite_link
  %p= offer.gmaps4rails_address
  %p= offer.summary
  %p= "Price: #{number_to_currency offer.price}"
  - if offer.allowed_to_edit?
    %p
      = offer.change_state_link
      = link_to 'edit', edit_user_offer_path(current_user, offer.offer)
      = link_to 'delete', user_offer_path(current_user, offer.offer), method: :delete, confirm: "Are you sure?"
