= content_for :sidebar do
  %p= switch_view_link

- if map_view?
  = show_map(@offers)
- else
  = sort_link @search, :title
  = sort_link @search, :price
  = sort_link @search, :street
  = sort_link @search, :city
  = sort_link @search, :region
  = sort_link @search, :country
  = sort_link @search, :created_at
  %div#offers.row.show-grid
    - if @offers.empty? and params[:q]
      Sorry, nothing was found
    - else
      = render @offers
  #pagination= paginate @offers

- content_for :footer do
  = yield :scripts
