- @offer = OfferPresenter.new(@offer, self, current_user)
= link_to "Back to offers", offers_path, :class => 'btn'
.offer{id: "offer_#{@offer.id}"}
  %h2.title= @offer.title
  = @offer.add_favorite_link
  = @offer.delete_favorite_link
  %h4= @offer.summary
  .media-grid
    - @offer.photos.each do |photo|
      .thumbnail
        =link_to image_tag(photo.image.thumb.url), photo.image.url, class: "show_photo"
  .offer_details
    .location_details
      = @offer.present_attr :country
      = @offer.present_attr :region
      = @offer.present_attr :city
      = @offer.present_attr :street
      = @offer.present_attr :building
    .info_details
      %p
        %strong Price
        = number_to_currency @offer.price
      = @offer.present_attr :property_type
      = @offer.present_attr :description
      = @offer.present_attr :rooms
      = @offer.present_attr :bathrooms
      = @offer.present_attr :storage_room
      = @offer.present_attr :balcony
      = @offer.present_attr :terrace
      = @offer.present_attr :furnished
      = @offer.present_attr :dishwasher
      = @offer.present_attr :washing_machine
      = @offer.present_attr :microwave
      = @offer.present_attr :tv
      = @offer.present_attr :cable_tv
      = @offer.present_attr :internet
      = @offer.present_attr :tennis_court
      = @offer.present_attr :gym
      = @offer.present_attr :swimming_pool

    .contact_details
      %p
        %strong Email
        = @offer.user.email
    .map
      = gmaps(markers: {data: [@offer].to_gmaps4rails})

#comments
  %h2 Comments
  = render @comments

#new_comment
  %h3 Add new comment
  = simple_form_for [@offer.offer, Comment.new] do |f|
    = f.input :title
    = f.input :body
    = f.button :submit

- content_for :footer do
  = yield :scripts
