!!!
%html

  %head
    %title +inMO
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "application"
    = csrf_meta_tag
    = javascript_include_tag "application"
    :javascript
      $(document).ajaxSend(function(e, xhr, options) {
        var token = $("meta[name='csrf-token']").attr("content");
        xhr.setRequestHeader("X-CSRF-Token", token);
      });
    = yield :head

  %body
    = render "/layouts/header"

    .container-fluid
      .sidebar
        .well
          = render "/layouts/sidebar"
          = yield :sidebar
      .content
        - flash.each do |name, msg|
          = content_tag :div, msg, id: "flash_#{name}"
        = yield
        %footer
          %p Masinmo 2011.
          = yield :footer
